# Django / Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
youtube_audio_extractor.py

# Virtual Environment
env/
venv/
.env

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Django migrations ausschließen
*/migrations/*
!*/migrations/__init__.py
